<html>
<head>
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.min.css" rel = "stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../css/createPage.css" rel="stylesheet">
	<link rel = "stylesheet" type = "text/css" href = "../css/createPage.css"></link>
	<title id = "title">
		BlocKIT
	</title>
	<!--<h1>
		<div id = "appHeader">

			<a href = "/homepage" >
				<img src = "../images/back.png" style = "width:60px;height:60px;" id = "backButton">

			</img>
		</a>
		Create Task


	</div>
</h1>-->
</head>
	<div id = "fixedHeader">
		<div id = "header-holder">
			
			<div class = "tasksButton">
			<a href = "/runPage" id = "tasksText">
				Tasks
				
			
			</a>
			</div>
			
			
			<div id = "blockButton">
					<a href = "/settings">
						<img src = "../images/websiteblock.png" style = "width:20px;height:15px;"></img>
					</a>
			</div>
			
			
			<div id = "helpButton">
					<a href = "/help">
						<img src = "../images/help.png" style = "width:20px;height:20px;"></img>
					</a>
			</div>
			
			
			<div id = "exitButton">
					<a href = "/">
						<img src = "../images/exit.png" style = "width:20px;height:20px;"></img>
					</a>
			</div>


		</div>

	</div> 


	<!--<h1 class="fontChange" id="appHeader">
		<div>
			<a href = "/homepage" ><img src = "../images/back.png" style = "width:60px;height:60px;" id = "backButton"></a>
			Run Task
		</div>
	</h1>-->
	<div class = "buffer"> 
		<!-- Used to create room for top bar-->
	</div>
	

<body>
	<div class="fontChange">
		<p class = "title">
			TASK NAME
		</p>

		<textarea rows="1" cols = "37" class = "input" maxlength = "40" class="fontChange" id = "taskName"></textarea>
	</div>
	<div class="fontChange">
		<p class = "title">
			DUE DATE
		</p>

		<textarea rows="1" cols = "37" class = "input" maxlength = "40" class="fontChange" id = "dueDate"></textarea>
	</div>
	<div class="fontChange">
		<p class = "title">
			TASK DURATION
		</p>

		<textarea rows="1" cols = "12" class = "input" maxlength = "3" class="fontChange" id = "hours"></textarea>
		hours:
		<textarea rows="1" cols = "12" class = "input" maxlength = "2" class="fontChange" id = "minutes"></textarea>
		minutes
	</div>
	<div class="fontChange">
		<p class = "title">
			NOTES
		</p>

		<textarea rows="7" cols = "37" class = "input" maxlength = "280" class="fontChange" id = "notes"></textarea>
	</div>
	<div class="fontChange">
		<p class = "title">
			BLOCKED WEBSITES
		</p>
		<div class = "dropdown fontChange" id = "webDropDown">
			<button onclick = "showBlocked()"
			class = "dropbtn">{{websites.length}} Blocked
			<img src = "../images/dropDown.png" style = "width:20;height:20px;">
		</img>
	</button>
</div>


<div id = "blockDropdown" class = "dropdown-content">
	{{#each websites}}
	<div class = "inner-content" id = "websiteOne">
		{{title}}
			<!--<img src = "../images/checkBox.png" style = "width:20px;height:20px;" >
		</img>-->
		<input class = "checkBox" type = "checkbox" checked = "checked">
	</input>
</div>
{{/each}}

</div>
</div>

<div class = "webBox">
	<textarea id = "websiteText" rows="1" cols = "27" maxlength = "100" class="fontChange">https://</textarea>
	<button id = "webAdd"><strong>ADD</strong></button>
</div>

<div class = "button-holder">

	<div  class = "button">
	<a href = "/runPage" class = "button fontChange">
		Cancel</a>
	</div>
	<div  class = "button" id = "create">
	<a href = "/runPage" class = "button fontChange">
		Create!</a>
	</div>

</div>

<div id = "number">
	{{tasks.length}}
</div>

	<script src="https://code.jquery.com/jquery.js">
	</script>
	<script src="../js/bootstrap.min.js"></script>
	<script type = "text/javascript" src="../js/createTask.js"></script>
	<script type = "text/javascript" src="routes/index.js"></script>
</body>
</html>
