<html>
	<head>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.min.css" rel = "stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/help.css" rel="stylesheet">
		<link rel = "stylesheet" type = "text/css" href = "../css/help.css"></link>
		<title> BlocKit </title>
	</head>
	<body>

					<div id = "fixedHeader">
		<div id = "header-holder">
			
			<div class = "tasksButton">
			<a href = "/runPage" id = "tasksText">
				Tasks
				
			
			</a>
			</div>
			
			
			<div id = "blockButton">
					<a href = "/settings">
						<img src = "../images/websiteblock.png" style = "width:20px;height:15px;"></img>
					</a>
			</div>
			
			
			<div id = "helpButton">
					<a href = "/help">
						<img src = "../images/help.png" style = "width:20px;height:20px;"></img>
					</a>
			</div>
			
			
			<div id = "exitButton">
					<a href = "/">
						<img src = "../images/exit.png" style = "width:20px;height:20px;"></img>
					</a>
			</div>


		</div>

	</div> 

	<div class = "buffer"> 
		<!-- Used to create room for top bar-->
	</div>


		<!--<h1 class="fontChange" id="appHeader">
			<div>
				<a href = "/homepage" ><img src = "../images/back.png" style = "width:60px;height:60px;" id = "backButton"></a>
				Help
			</div>
		</h1>-->
		
		<center>
		<img id = "logo" src = "../images/logo.png" style = "width:50px; height:50px;">
		<h1>ABOUT BLOCKIT</h1>
		<p id = "tagline">BlocKIT aids you in completing your tasks distractions-free!</p><br>
		</center>
		<h2>How to use: </h2>
		<h4>Block Websites</h4>
		<p>Set up your default blocked websites which will apply to all  your tasks. You can always come back to edit 
		your blocked websites.</p>
		
		<h4>Tasks</h4>
		<p>Click on ADD TASK on the main task page. Then, fill in the information for the work you need to complete.
		This task will show up in the task page. Just click start to block those pesky distractions. 
		You can also view your task history and review the tasks you have completed.</p>

		<p><strong>Good Luck, you got this!</strong></p><br>
		
		
		<h2>FAQ</h2>
			<button class="accordion">What does BlocKIT do?</button>
			<div class="panel">
			  <p>BlocKIT blocks out your distractions so that you can stay focused on completing your tasks.
			   You will be able to create tasks with customized blocked websites, so when you start the task,
			   those distracting websites will be blocked until either the timer runs out or you finish your task.</p>
			</div>

			<button class="accordion">How do I create a task?</button>
			<div class="panel">
			  <p>The Create Task button on the home screen will take you to another screen to input your task’s name,
			   due date, time duration, notes, and customize the blocked websites. The “Create!” button will finish creating the task.</p>
			</div>

			<button class="accordion">How do I start/run a task?</button>
			<div class="panel">
			  <p>The Task page will contain a list of your created tasks. There, you can select a task to run.</p>
			</div>
		
		
			<button class="accordion">What does running a task do?</button>
			<div class="panel">
			 <p>Running a task will block the websites you customized for that task for the duration of the 
			 time you set for that specific task.</p>
			</div>
		
			<button class="accordion">What do I do when I finish my task but my timer is still running?</button>
			<div class="panel">
			 <p>You can manually stop the timer when you finish your task, which will then unblock your websites.</p>
			</div>
			
			<button class="accordion">Where do I go to set my default blocked websites?</button>
			<div class="panel">
			 <p>You can go to the Settings page to customize the default blocked websites.</p>
			</div>
		
		<!--<div class = "button">
		<a href = "/homepage" class = "button">
			Back
		</a>-->
	</div>
		

	<script>
	var acc = document.getElementsByClassName("accordion");
	var i;

	for (i = 0; i < acc.length; i++) {
		acc[i].onclick = function(){
			this.classList.toggle("active");
			this.nextElementSibling.classList.toggle("show");
	  }
	}
	</script>

	</body>
</html>
