<html>
	<head>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.min.css" rel = "stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/help.css" rel="stylesheet">
		<link rel = "stylesheet" type = "text/css" href = "../css/help.css"></link>
		<title> BlocKit </title>
	</head>
<body>
	<div id = "fixedHeader">
		<div id = "header-holder">
			
			<div class = "tasksButton">
			<a href = "/runPage" id = "tasksText">
				<img src = "../images/tasksbuttontext.png" style = "width:75px;height:26px;"></img>
			</a>
			</div>
			
			
			<div id = "blockButton">
					<a href = "/settings">
						<img src = "../images/websiteblock.png" style = "width:35px;height:33px;"></img>
					</a>
			</div>
			
			
			<div id = "helpButton">
					<a href = "/help">
						<img src = "../images/help2.png" style = "width:35px;height:33px;"></img>
					</a>
			</div>
			
			
			<div id = "exitButton">
					<a href = "/">
						<img src = "../images/exit.png" style = "width:35px;height:33px;"></img>
					</a>
			</div>


		</div>

	</div> 


	<!--<h1 class="fontChange" id="appHeader">
		<div>
			<a href = "/homepage" ><img src = "../images/back.png" style = "width:60px;height:60px;" id = "backButton"></a>
			Run Task
		</div>
	</h1>-->
	<div class = "buffer"> 
		<!-- Used to create room for top bar-->
	</div>


		<!--<h1 class="fontChange" id="appHeader">
			<div>
				<a href = "/homepage" ><img src = "../images/back.png" style = "width:60px;height:60px;" id = "backButton"></a>
				Help
			</div>
		</h1>-->
		
		<center>
		<h3>HELP</h3>
		<!--
		<img id = "logo" src = "../images/circlelogo.png" style = "width:50px; height:50px;">
		<p id = "tagline">BlocKIT aids you in completing your tasks distractions-free!</p><br>
		</center>
		<ul>
			<h4>Block Websites</h4>

			<li>Go to Block.</li>
			<li>Add website URLs you want to block.</li>
			<li>The default list will apply to all tasks.</li>
			<li>Remove websites with the x mark.</li>
			<li>Edit your blocked websites anytime.</li>
		</ul>
		
		<ul>
			<h4>Tasks</h4>
			<h5>Add Task</h5>
			<li>Go to Task.</li>
			<li>Click 
		
		<h5>Tasks</h5>
		<p>Click on ADD TASK on the main task page. Then, fill in the information for the work you need to complete.
		This task will show up in the task page. Just click start to block those pesky distractions. 
		You can also view your task history and review the tasks you have completed.</p>

		<p><strong>Good Luck, you got this!</strong></p><br>-->
		
		
			<button class="accordion">About BlocKIT</button>
			<div class="panel">
			  <p align="left">BlocKIT aids you in completing your tasks distractions-free!<br><br>
			  You can add and run tasks with customizable blocked websites.
			  </p>
			</div>

			<button class="accordion">Adding a Task</button>
			<div class="panel">
			  <p align="left">Go to the Tasks page and click on the "Add Task" button. Input task information and click the "Create!" button.
			  </p>
			</div>

			<button class="accordion">Starting a Task</button>
			<div class="panel">
			  <p align="left">On the Tasks page, press the play button to start running the selected task.</p>
			</div>
		
		
			<button class="accordion">Running a Task</button>
			<div class="panel">
			 <p align="left">Running a task will block the websites you customized for that task.</p>
			</div>
		
			<button class="accordion">Finishing a Task</button>
			<div class="panel">
			 <p align="left">Click the "I'm Finished" button to manually stop the timer when you finish your task, which will then unblock your websites.</p>
			</div>
			
			<button class="accordion">Default Blocked Websites</button>
			<div class="panel">
			 <p align="left">Go to the Block page to customize your default blocked websites, which will apply to all tasks.</p>
			</div>
		
		<!--<div class = "button">
		<a href = "/homepage" class = "button">
			Back
		</a>-->
	</div>
		

	<script>
	var acc = document.getElementsByClassName("accordion");
	var i;

	for (i = 0; i < acc.length; i++) {
		acc[i].onclick = function(){
			this.classList.toggle("active");
			this.nextElementSibling.classList.toggle("show");
	  }
	}
	</script>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87745863-1', 'auto');
  ga('send', 'pageview');

</script>

	</body>
</html>
