<html>
	<head>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel = "stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel = "stylesheet" type = "text/css" href = "../css/index.css">
	<title> BlocKit </title>
	</head>
	<body>
		<div>
			<center><img src = "/static/images/logo.png" id = 'logo'></center>
		</div>
	
		<p>USERNAME: <textarea rows="1" cols = "37" class = "input" maxlength = "40"></textarea></p>
		<p>PASSWORD: <textarea rows="1" cols = "37" class = "input" maxlength = "40"></textarea></p>

		<center>
			<div class= "button">
				<a class="button" href="/runPage" style = "color:white">Sign In </a>
			</div>
			<p><a href="/register" class="nonWorking">password</a> | <a href="/register" class="nonWorking">register</a></p> 
		</center>
	</body>
</html>
