<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel = "stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel = "stylesheet" type = "text/css" href = "css/index.css">
	<title> BlocKit </title>
	</head>
	<body>
		<div>
			<h1 class = "jumbotron">BlocKit</h1>
		</div>
	
		<p>USERNAME: <textarea rows="1" cols = "37" class = "input" maxlength = "40"></textarea></p>
		<p>PASSWORD: <textarea rows="1" cols = "37" class = "input" maxlength = "40"></textarea></p>

		<div class= "button">
			<a class="button" href="pages/homepage.html"> Sign In </a>
		</div>
		<p><a href="#" class="nonWorking">password</a>|<a href="#" class="nonWorking">register</a></p> 
	</body>
</html>
