<html>
	<head>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel = "stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel = "stylesheet" type = "text/css" href = "../css/index.css">
	<title> BlocKit </title>
	</head>
	<body>
		<div>
			<center><img src = "/static/images/logo.png" style="width:250px; height:161px" id = 'logo'></center>
		</div>
	<!--
		<p>USERNAME: <textarea rows="1" cols = "37" class = "input" maxlength = "40"></textarea></p>
		<p>PASSWORD: <textarea rows="1" cols = "37" class = "input" maxlength = "40"></textarea></p>
-->
		<p> USERNAME: <input type = "text"></input></p>
		<p> PASSWORD: <input type = "password"></input></p>
		<center>
			<div class= "button">
				<a class="button" href="/runPage" style = "color:white">Sign In </a>
			</div>
			<p><a href="/register" class="nonWorking">password</a> | <a href="/register" class="nonWorking">register</a></p> 
		</center>
			<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87745863-1', 'auto');
  ga('send', 'pageview');

</script>
	</body>
</html>
