<html>
	<head>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />`
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="refresh" content="7;/homepage" />
		<link href="/css/bootstrap.min.css" rel = "stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/help.css" rel="stylesheet">
		<link rel = "stylesheet" type = "text/css" href = "../css/register.css"></link>
		<title>
			BlocKit
		</title>
	</head>
	<body>
		<center>
			<h1>User Registration</h1>
			<img src="../images/rolling_pug.gif"></img>
			<p>BlocKit currently does not require a login. <br>Watch this pug roll until we redirect you to main page <br>or click the button below!</p>
			<div class = "button">
			<a href = "/homepage" class = "button">
				Begin!
			</a>
			</div>
		</center>
	</body>

</html>