<html>
<head>
	<h1>
		<title>BlocKIT</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="../css/bootstrap.min.css" rel = "stylesheet">
		<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="../css/runPage.css" rel="stylesheet">
		<link rel = "stylesheet" type = "text/css" href = "../css/runPage.css"></link>
	</h1>
</head>
<body>
	<div>
		<h1 class = "jumbotron">Run A Task</h1>
	</div>
	<div class = "button" id = "task1">
		<a class = "button" id = "task1Text">
			Math Homework, Due 11/5, Will take 4 hours, 0 Minutes</a>
			<br>
			<div class = "extra-holder">

				<div  class = "extra">
					<div class = "dropdown">
						<button onclick = "showDetails()"
						class = "dropbtn">Details
						<img src = "../images/dropDown.png" style = "width:20;height:20px;">
					</img>
				</button>

			</div>
		</div>
		<div class = "extra">
			<a href = "./taskScreen.html" class = "button">
				Start
			</a>
		</div>

	</div>
	<div id = "detailDropdown" class = "dropdown-content">
		<div class = "inner-content">
			Pages 120-122, Problems 21 - 30, 40 - 45
		</div>

	</div>
	</div>
	<div class = "button">
		<a class ="button" href = "./homepage.html"> Back To Home </a>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src = "../js/runPage.js"></script>
</body>
</html>
