.jumbotron{
   font-size:46px; 
   text-align: center;
   position: relative; 
}

h1{
	padding: 10px;
	text-align: center;
	font-family:Verdana;
}

body{
	padding: 10px;
	text-align: center;
	font-size:18px;
}

div.button{
     padding:10px;
     font-size:26px;
     margin:3px;
     text-align: center;
     position:relative;
     border-style:solid;
     border-width: 2px;
}



a.button{
     color: #13112b;
     text-decoration: none;
}