#appHeader{
	background-color:#ececec;
	font-family: Montserrat, Calibri;
}

h3{
  font-family:Montserrat, Calibri;
  padding: 5px;
  margin: 10px 5% 5% 5%;

}

h4{
  font-family:Montserrat, Calibri;
  padding: 2px;
  margin: 10px 5% 5% 5%;

}

h5{
	font-family:Montserrat, Calibri;
	padding: 5px;
	margin: 10px 5% 5% 5%;

}

li{
  font-family:Montserrat, Calibri;
}

p{
  font-family:Montserrat, Calibri;
  padding: 5px;
  margin: 10px 5% 5% 5%;

}


body{

	font-size:18px;
	font-family: Montserrat, Calibri;
	
}

#logo{
	margin: 10px 0px 0px 0px;
	
}

div.button{
     padding:10px;
     font-size:26px;
     margin:3px;
     text-align: center;
     position:relative;
     border-style:solid;
     border-width: 2px;
}

a.button{
     color: #13112b;
     text-decoration: none;
}

#tagline{
	margin: -20px 0px 0px 0px;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
	font-family: Montserrat, Calibri;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px; 
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
/*
h1{
	font-family: Montserrat;
}

p{
	font-family: Montserrat;
}*/


#fixedHeader{
  text-align: center;
  position:fixed;
  z-index:10;
  background:inherit;
  width:100%;
  background-color: #d4d4d4;

}

.buffer{
  padding-top:38px;
  padding-bottom:36px;
  
}

#header-holder{
  display:table;
  width: 90%;
  height:30px;
  background-color: #b9b9b9;
}

.tasksButton {
  display:table-cell;
  width: 30%;
  text-decoration: none;
  text-align:center;
  color: white;
  background-color: #da1e2b;
  padding:7px 5px 7px 5px;
  height:30px;

}

.date-bar {
  background-color: #d4d4d4;
}

/*#addTasksButton {
  display:table-cell;
  width: 20%;
  text-decoration: none;
  background-color: #b91919;
  padding:7px 10px 7px 5px;
  height:30px;
}*/

#blockButton {
  display:table-cell;
  width: 15%;
  text-decoration: none;
  color: white;
  background-color: #d4d4d4;
  padding:7px 5px 7px 5px;
  height:30px;

}

#helpButton {
  display:table-cell;
  width: 15%;
  text-decoration: none;
  color: white;
  background-color: #d4d4d4;
  padding:7px 5px 7px 5px;
  height:30px;
  border-bottom:solid;
  border-bottom-color: #000000;
}

#exitButton {
  display:table-cell;
  width: 15%;
  text-decoration: none;
  color: white;
  background-color: #d4d4d4;
  padding:10px 5px 5px 5px;
  height:30px;
}


#tasksText {
  color:black;
  text-decoration: none;
  font-size:18px;
  font-family:Calibri;
}


#second-header-holder{
  display:table;
  width: 100%;
  height:20px;
  margin-left: 5%;
}

#todoButton {
  display:table-cell;
  border-right:solid;
  text-align:right;
  width: 20%;
  margin:5px;
}

#todoText {
  color:#b91919;
  text-align:right;
  font-size:16px;
  text-decoration: none;
}


#completedButton {
  display:table-cell;
  width: 15%;
  margin: 0px;
  padding-left:1px;
}

#completedText {
  color:black;
  text-align:center;
  font-size:16px;
  text-decoration: none;
}

#secondHeaderBuffer {
  width:20%;
  display:table-cell;

}

#addTaskButton {
  width:30%;
  display:table-cell;
  text-decoration: none;
}

#addTaskText {
  font-size:18px;
  color:#b91919;
  text-align:center;
  text-decoration: none;
}