.jumbotron{
   font-size:46px; 
   text-align: center;
   position: relative; 
   font-family: Montserrat;
}

h1{
	font-family: Montserrat;
}

p{
	font-family: Montserrat;
}

a{
	font-family: Montserrat;
	color: #13112b;
}

.nonWorking{
	color: black;
}

body{
	text-align: center;
}

div.button{
     padding: 5px;
     font-size:26px;
     margin: 50px 70px 0px 70px;
     text-align: center;
     position:relative;
     border-style:solid;
     border-width: 2px;
}