.jumbotron{
   font-size:46px; 
   text-align: center;
   position: relative; 
   font-family: Montserrat;
}

h1{
	font-family: Montserrat;
}

p{
	font-family: Montserrat;
}

a{
	font-family: Montserrat;
	color: #13112b;
	text-decoration: none;
}

.nonWorking{
	color: black;
}

body{
	text-align: center;
}

div.button{
     padding: 5px;
     font-size:26px;
	 margin: 50px 10px 0px 0px;
	 width : 100%;
     text-align: center;
     position:relative;
	 text-decoration: none;
	 background-color: #da1e2b;
}

#logo {

	margin-top: 25%;
}
