h1{
	font-family: Montserrat;
	text-align: center;
	margin-bottom: 75px;
	font-size: 500%;
}

p{
	font-family: Montserrat;
}

a{
	font-family: Montserrat;
}

.nonWorking{
	color: black;
}

body{
	text-align: center;
}

.btn-outline-primary{
	outline-color: black;
	color: black;
	background-color: white;
	border-color: black;
	margin-top: 50px;
	margin-bottom: 10px;
}