.jumbotron{
   font-size:46px; 
   text-align: center;
   position: relative; 
}

div.button{
     padding:10px;
     font-size:26px;
     margin:3px;
     text-align: center;
     position:relative;
     border-style:solid;
     border-width: 2px;
}


a.button{
     color: #13112b;
     text-decoration: none;
}

div.extra{
  display:table-cell;
  width:50%;
  padding:10px;
  font-size:26px;
  margin:10px;
  text-align: center;
  position:relative;
  border-style:solid;
  border-width: 1px;
}

div.extra-holder{

     padding:10px;

     width:100%;
     text-align: center;
     position:relative;
     display: table;
}

.dropdown-content {
  display: none;
}

.inner-content {
  position: relative;
  display: block;
  font-size:18px;
  border-width:1px;
  border-style:solid;
  margin-bottom: 2px;
  margin-top:2px;
  margin-left:10px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width:50%;
}

.dropbtn {
  background-color: #ffffff;
  color: black;
  padding: 3px;
  font-size: 20px;
  text-align: left;
  border:none;
}


.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.inner-content:hover {
  background-color: #f1f1f1;
};

.show {
  display:block;
}