#appHeader{
	background-color:ececec;
	font-family: Montserrat;
}

.fontChange{
	font-family: Montserrat;
}

ul.topnav {
    margin: 0;
    padding: 0;
    text-align: center
}
ul.topnav li {
    display: inline;
    list-style: none; 
}
ul.topnav li a:link,a:visited
{
    display:inline-block;
    margin-right: -4px;
    width:120px;
    color:#000000;
    background-color:#eeeeee;
    text-align:center;
    padding:8px;
    text-decoration:none;
}
ul.topnav li a:hover, a:active
{
    background-color:#1a1a1a;
	color: #ffffff;
}

div.button{
     padding:5px;
     font-size:20px;
     margin:3px;
     text-align: center;
     position:relative;
     border-style:solid;
     border-width: 2px;
}


a.button{
     color: #13112b;
     text-decoration: none;
     font-size: 18px;
}

div.extra{
  display:table-cell;
  width:10%;
  padding:2px;
  font-size:20px;
  margin:10px;
  text-align: center;
  position:relative;
  border-style:none;
  border-width: 0px;
}

#details{
  display:table-cell;
  width:80%;
  padding:2px;
  font-size:20px;
  margin:10px;
  text-align: left;
  position:relative;
  border-style:none;
  border-width: 0px;
}

div.extra-holder{

     padding:2px;
     width:100%;
     text-align: center;
     position:relative;
     display: table;
}

.dropdown-content {
  display: none;
}

.inner-content {
  position: relative;
  display: block;
  font-size:18px;
  border-width:1px;
  border-style:solid;
  margin-bottom: 2px;
  margin-top:2px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width:50%;
}

.dropbtn {
  background-color: #ffffff;
  color: black;
  padding: 3px;
  font-size: 20px;
  text-align: left;
  border:none;
}


.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.inner-content:hover {
  background-color: #f1f1f1;
}

.show {
  display:block;
}

#number {
  display:none;
}

#fixedHeader{
  text-align: center;
  position:fixed;
  z-index:10;
  background:inherit;
  width:100%;
  background-color: #b9b9b9;

}

.buffer{
  padding-top:38px;
  padding-bottom:36px;
  
}

#header-holder{
  display:table;
  width: 90%;
  height:30px;
  background-color: #b9b9b9;
}

.tasksButton {
  display:table-cell;
  width: 30%;
  text-decoration: none;
  text-align:center;
  color: white;
  background-color: #b91919;
  padding:7px 5px 7px 5px;
  height:30px;
  border-bottom:solid;
  border-bottom-color: #da1e2b;
}

.date-bar {
  background-color: #d4d4d4;
}

/*#addTasksButton {
  display:table-cell;
  width: 20%;
  text-decoration: none;
  background-color: #b91919;
  padding:7px 10px 7px 5px;
  height:30px;
}*/

#blockButton {
  display:table-cell;
  width: 25%;
  text-decoration: none;
  color: white;
  background-color: #b9b9b9;
  padding:7px 5px 7px 5px;
  height:30px;
}

#helpButton {
  display:table-cell;
  width: 20%;
  text-decoration: none;
  color: white;
  background-color: #b9b9b9;
  padding:7px 5px 7px 5px;
  height:30px;
}

#exitButton {
  display:table-cell;
  width: 10%;
  text-decoration: none;
  color: white;
  background-color: #b9b9b9;
  padding:10px 5px 5px 5px;
  height:30px;
}


#tasksText {
  color:black;
  text-decoration: none;
  font-size:18px;
  font-family:Calibri;
}


#second-header-holder{
  display:table;
  width: 100%;
  height:20px;
  margin-left: 5%;
}

#todoButton {
  display:table-cell;
  border-right:solid;
  text-align:right;
  width: 20%;
  margin:5px;
}

#todoText {
  color:#b91919;
  text-align:right;
  font-size:16px;
  text-decoration: none;
}


#completedButton {
  display:table-cell;
  width: 15%;
  margin: 0px;
  padding-left:1px;
}

#completedText {
  color:black;
  text-align:center;
  font-size:16px;
  text-decoration: none;
}

#secondHeaderBuffer {
  width:20%;
  display:table-cell;

}

#addTaskButton {
  width:30%;
  display:table-cell;
  text-decoration: none;
}

#addTaskText {
  font-size:18px;
  color:#b91919;
  text-align:center;
  text-decoration: none;
}