

#header{
  text-align: center;
  text-decoration: none;
  color:black;
}

#backButton{
  text-align: left;
  text-decoration: none;

}

.title {
  position: relative;
  font-family: Montserrat, Verdana;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: bold;
}

#creTask{
	font-size: 140%;
	padding-top: 5px;
}

.fontChange {
	font-family: Montserrat, Verdana;
}

.input {
  position:relative;
  margin-left: 10px;
  font-size: 18px;
  text-align: left;
  resize:none;
  font-weight: bold;
}

.dropbtn {
  background-color: #E8E3E3;
  color: black;
  padding: 3px;
  width: 300px;
  font-size: 20px;
  border-style: solid;
  border-width: 2px;
  border-color:black;

  text-align: left;
}

.dropbtn:hover{
  background-color: #f1f1f1;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.inner-content {
  position: relative;
  display: block;
  border-width:1px;
  border-style:solid;
  margin-bottom: 2px;
  margin-top:2px;
  margin-left:10px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width:300px;
}

.dropdown-content {
  display: none;
}

div.button-holder{

     margin-left: 10px;
     margin-top: 20px;
     margin-bottom: 20px;
     text-align: center;
     position:relative;
     width: 300px;
     display: table;
     
}

div.button {
  display:table-cell;
  width:50%;
  padding:2px;
  font-size:14px;
  text-align: center;
  position:relative;
  border-style:solid;
  border-width: 1px;
  width: 100px;
}


a.button{
     color: #13112b;
     text-decoration: none;
}

.inner-content:hover {
  background-color: #f1f1f1;
};

.show {
  display:block;
}

.webBox {
  margin-top:5px;
  margin-bottom:5px;
  margin-left:10px;
  width:300px;
  border-style:solid;
  border-width:1px;
  padding-top:5px;
  padding-bottom:5px;
  font-family: Montserrat, Verdana;
  font-size:14px;
}

#webAdd {
  display:inline;
}

.checkBox {
  display:inline;
}

#number {
  display:none;
}
#fixedHeader{
  text-align: center;
  position:fixed;
  z-index:10;
  background:inherit;
  width:100%;
  background-color: #d4d4d4;

}

.buffer{
  padding-top:19px;
  padding-bottom:18px;
  
}

#header-holder{
  display:table;
  width: 100%;
  height:30px;
  background-color: #b9b9b9;
}

.tasksButton {
  display:table-cell;
  width: 30%;
  text-decoration: none;
  text-align:center;
  color: white;
  background-color: #da1e2b;
  padding:7px 5px 7px 5px;
  height:30px;
}

/*#addTasksButton {
  display:table-cell;
  width: 20%;
  text-decoration: none;
  background-color: #b91919;
  padding:7px 10px 7px 5px;
  height:30px;
}*/

#blockButton {
  display:table-cell;
  width: 15%;
  text-decoration: none;
  color: white;
  background-color: #d4d4d4;
  padding:7px 5px 7px 5px;
  height:30px;
}

#helpButton {
  display:table-cell;
  width: 15%;
  text-decoration: none;
  color: white;
  background-color: #d4d4d4;
  padding:7px 5px 7px 5px;
  height:30px;
}

#exitButton {
  display:table-cell;
  width: 15%;
  text-decoration: none;
  color: white;
  background-color: #d4d4d4;
  padding:10px 5px 5px 5px;
  height:30px;
}


#tasksText {
  color:black;
  text-decoration: none;
  font-size:18px;
  font-family: Montserrat, Verdana;
}

#cancelButton{
	background-color: 1b1b1b;
	color: ffffff;
}

#finButton{
	background-color: 5ab1bb;
	color: ffffff;
}

#confirm{
	color: white;
}

#canButText{
	color: white;
}

#timer {
	width: 250px;
	height: 250px;
	border: 5px solid #5ab1bb;
	-moz-border-radius: 125px;
	-webkit-border-radius: 125px;
	border-radius: 125px;
	text-align: center;
	vertical-align: middle;
	line-height: 250px;
	font-size: 180%;
	font-weight: bold;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
	border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
}



.close2 {
    color: #aaa;
    float: right;
	margin: 0px;
    font-size: 20px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#myBtn2 {
  display:table-cell;
  width:50%;
  padding:10px;
  font-size:18px;
  text-align: center;
  display: inline;
  position:relative;
  border-style:solid;
  border-width: 1px;
  width: 120px;
  color: white;
  background-color: da1e2b;
}

.close3 {
    color: #aaa;
    float: right;
	margin: 0px;
    font-size: 20px;
    font-weight: bold;
}

.close3:hover,
.close3:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#myBtn3 {
  display:table-cell;
  width:50%;
  padding:10px;
  font-size:18px;
  text-align: center;
  display: inline;
  position:relative;
  border-style:solid;
  border-width: 1px;
  width: 100px;
  color: white;
  background-color: 1b1b1b;
}

#deleteCancel{
	color: white;
	background-color: 1b1b1b;
}

#deleteText{
	color:white;
}
#canceling{
	color: white;
	background-color: 5ab1bb;
}
#cancelingtext{
	color:white;
}
